[Unit]
Description=LuaJIT based certd
After=froxlor-system-pure-certd.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/luajit /etc/pure-ftpd/certd.lua
StandardInput=socket
StandardOutput=socket
StandardError=journal
TimeoutStopSec=5
DynamicUser=yes

[Install]
WantedBy=multi-user.target
